/*
*   Main styles
*/
/* line 25, ./public/styles/mainStyles.scss */
.blue {
  background-color: #2196F3;
  color: white;
}

/* line 29, ./public/styles/mainStyles.scss */
.lightblue {
  background-color: #3E99ED;
  color: white;
}

/* line 33, ./public/styles/mainStyles.scss */
.blackblue {
  background-color: #0B57A7;
  color: white;
}

/* line 37, ./public/styles/mainStyles.scss */
.orange {
  background-color: #FC6B47;
  color: white;
}

/* line 41, ./public/styles/mainStyles.scss */
.green {
  background-color: #2FA14A;
  color: white;
}

/* line 45, ./public/styles/mainStyles.scss */
.blackgreen {
  background-color: #0F4F1D;
  color: white;
}

/* line 49, ./public/styles/mainStyles.scss */
.pink {
  background-color: #E91E63;
  color: white;
}

/* line 53, ./public/styles/mainStyles.scss */
.teal {
  background-color: #009688;
  color: white;
}

/* line 57, ./public/styles/mainStyles.scss */
.brown {
  background-color: #795548;
  color: white;
}

/* line 61, ./public/styles/mainStyles.scss */
.bluegrey {
  background-color: #607D8B;
  color: white;
}

/* line 65, ./public/styles/mainStyles.scss */
.lightred {
  background-color: #F4383E;
  color: white;
}

/* line 69, ./public/styles/mainStyles.scss */
.red {
  background-color: #9B2629;
  color: white;
}

/* line 73, ./public/styles/mainStyles.scss */
.selected {
  color: red;
}

/* line 79, ./public/styles/mainStyles.scss */
body {
  color: #333;
  background-color: #FFFFFF;
}

/* line 84, ./public/styles/mainStyles.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 89, ./public/styles/mainStyles.scss */
#toolbar {
  color: #FFFFFF;
  background-color: #026DB6;
}

/* line 96, ./public/styles/mainStyles.scss */
.DashboardIcon {
  color: white;
}

/* line 100, ./public/styles/mainStyles.scss */
#ProfilePhoto {
  max-height: 120px;
  max-width: 200px;
}

/* line 106, ./public/styles/mainStyles.scss */
#PrimaryButton {
  background-color: #36AD5C;
}

/* line 109, ./public/styles/mainStyles.scss */
#SecondaryButton {
  background-color: #AD3836;
}

/* line 113, ./public/styles/mainStyles.scss */
#LogoAdmin {
  width: 130px;
  height: 40px;
}

/* line 118, ./public/styles/mainStyles.scss */
.md-tile-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 30px;
  text-overflow: ellipsis;
}

/* line 126, ./public/styles/mainStyles.scss */
.md-tile-content h3 {
  margin: 0 0 3px 0;
  font-weight: 400;
  font-size: 1.3em;
}

/* line 131, ./public/styles/mainStyles.scss */
.md-tile-content h4 {
  margin: 0 0 3px 0;
  font-weight: 400;
  font-size: 0.9em;
}

/* line 136, ./public/styles/mainStyles.scss */
.md-tile-content p {
  margin: 0 0 3px 0;
  font-size: 0.75em;
}

/*
* Import base files
*/


