/*
*   Main styles
*/
$Navigation-color2:#236EA5;
$Navigation-color: #026DB6;
$TextNav-color: #FFFFFF;

$PrimaryButton: #36AD5C;
$SecondaryButton: #AD3836;

$lightblue: #3E99ED;
$blackblue: #0B57A7;
$blue: #2196F3;
$orange: #FC6B47;
$green: #2FA14A;
$blackgreen: #0F4F1D;
$pink: #E91E63;
$teal: #009688;
$brown: #795548;
$bluegrey: #607D8B;
$lightred: #F4383E;
$red: #9B2629; 

//DASHBOARD COLORS:
.blue {
  background-color: $blue;
  color: white;
}
.lightblue {
  background-color: $lightblue;
  color: white;
}
.blackblue {
  background-color: $blackblue;
  color: white;
}
.orange {
  background-color: $orange;
  color: white;
}
.green {
  background-color: $green;
  color: white;
}
.blackgreen {
  background-color: $blackgreen;
  color: white;
}
.pink {
  background-color: $pink;
  color: white;
}
.teal {
  background-color: $teal;
  color: white;
}
.brown {
  background-color: $brown;
  color: white;
}
.bluegrey {
  background-color: $bluegrey;
  color: white;
}
.lightred {
  background-color: $lightred;
  color: white;
}
.red {
  background-color: $red;
  color: white;
}
.selected{
  color: $blue;
}
.ticket{
}

body {
    color: #333;
    background-color: #FFFFFF;
}

*{
  margin: 0;
  padding: 0;
}

#toolbar {

  color: $TextNav-color;
  background-color: $Navigation-color;

}

.DashboardIcon{
  color:white;
}

#ProfilePhoto{
  max-height: 120px;
  max-width: 200px;
  
}

#PrimaryButton{
  background-color: $PrimaryButton;
}
#SecondaryButton{
  background-color: $SecondaryButton;
}

#LogoAdmin{
  width:130px;
  height:40px;
}

.md-tile-content{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 30px;
  text-overflow: ellipsis; 
}
.md-tile-content h3 {
    margin: 0 0 3px 0;
    font-weight: 400;
    font-size: 1.3em; 
}
.md-tile-content h4 {
    margin: 0 0 3px 0;
    font-weight: 400;
    font-size: 0.9em; 
}
.md-tile-content p {
    margin: 0 0 3px 0;
    font-size: 0.75em; 
}

/*
* Import base files
*/
//@import "./sections/header";