
<!--    THIS   ===>  Section -->

 <section layout="column">

     <md-subheader id="subtitle"  class="md-primary">Agregar Vehiculo</md-subheader>


     <div flex layout="column" layout-align="space-around">


         <div flex layout="row" layout-sm="column" layout-align="space-around">

             <div flex="30" flex-sm="100">

                 <md-input-container>

                     <label>Denominacion</label>

                     <input ng-model="Cars.Carro.denomination">

                 </md-input-container>

             </div>


             <div flex="30" flex-sm="100">

                <md-input-container>

                     <label>Precio</label>

                     <input ng-model="Cars.Carro.price">

                 </md-input-container>

             </div>


             <div flex="20" flex-sm="100" layout-align="center">

                 <md-select placeholder="Carwash" ng-model="Cars.Carro.lavado_id">

                     <md-option ng-repeat="CarwashDB in Cars.CarwashesOnDB" value="{{CarwashDB._id}}">
                         {{CarwashDB.info.name}}
                     </md-option>

                 </md-select>

             </div>

             <div flex="20" flex-sm="100">

                 <md-select placeholder="Imagen" ng-model="Cars.Carro.img">

                     <md-option ng-repeat="Img in Cars.Images" value="{{Img.value}}">
                         {{Img.name}}
                     </md-option>

                 </md-select>

             </div>

         </div>

     </div>

     <div flex layout="row" layout-align="space-around center">

         <md-button id="primarybtn" ng-click="Cars.Submit()" class="md-raised md-primary">Guardar</md-button>

         <md-button id="secondarybtn" ng-click="Cars.CancelEditing()" class="md-raised md-accent" ng-if="Cars.isEditing.flag" >
         Cancelar</md-button>

     </div>


     <br>
     <md-divider></md-divider>

     <md-subheader id="subtitle" class="md-primary">Vehiculos Existentes</md-subheader>

     <md-content flex  layout="column">
         <md-list-item ng-repeat="CarDB in Cars.CarsOnDB" ng-click="Cars.Edit(CarDB)">
             <p>{{ CarDB.denomination }}</p>
             <p>{{ CarDB.price | currency:"$" }}</p>
             <p>{{ CarDB.lavado_id.info.name }}</p>
             <md-icon md-svg-icon="delete" aria-label="delete" ng-click="Cars.Delete(CarDB)" class="md-secondary md-hue-3"></md-icon>
         </md-list-item>
     </md-content>


 </section>
