
    <section layout="column">

        <md-subheader id="subtitle"  class="md-primary">Agregar Usuario</md-subheader>

        <div flex layout="row" layout-sm="column" >

            <div flex="40" flex-sm="100">
                <md-input-container>
                    <label>Usuario</label>
                    <input ng-model="Users.Usuario.username">
                </md-input-container>
            </div>

            <div flex="60" flex-sm="100">

               <md-input-container>
                    <label>Contraseña</label>
                    <input ng-model="Users.Usuario.password">
                </md-input-container>

            </div>

        </div>

        <div flex layout="row" layout-sm="column">

            <div flex="40" flex-sm="100" layout="column">
                <div>
                    <md-input-container>
                        <label>Nombre</label>
                        <input ng-model="Users.Usuario.name">
                    </md-input-container>
                </div>
                <div>
                   <md-input-container>
                        <label>Direccion</label>
                        <input ng-model="Users.Usuario.address">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>Telefono</label>
                        <input ng-model="Users.Usuario.phone">
                    </md-input-container>
                </div>
            </div>

            <div flex="60" flex-sm="100" layout="column">

                <div ng-if="Users.ActiveRoles">
                    <md-select placeholder="Rol" ng-model="Users.Usuario.rol">
                        <md-option ng-repeat="rol in Users.Roles" value="{{rol}}">
                            {{rol}}
                        </md-option>
                    </md-select>
                </div>

                <md-subheader class="md-no-sticky">Lavados</md-subheader>
                <md-list-item ng-repeat="CarwashDB in Users.CarwashesOnDB">
                    <p > {{ CarwashDB.info.name }} </p>
                    <md-checkbox class="md-secondary" ng-model="CarwashDB.isSelected"></md-checkbox>
                </md-list-item>

            </div>
        </div>

        <div flex layout="row" layout-align="space-around center">

            <md-button id="primarybtn" ng-click="Users.Submit()" class="md-raised md-primary">Guardar</md-button>
            <md-button id="secondarybtn" ng-click="Users.CancelEditing()" class="md-raised md-accent" ng-if="Users.isEditing.flag" >
            Cancelar</md-button>

        </div>

        <br>
        <md-divider></md-divider>




        <md-subheader id="subtitle" class="md-primary">Usuarios Existentes</md-subheader>

        <md-content flex  layout="column">
            <md-list-item ng-repeat="UserDB in Users.UsersOnDB" ng-click="Users.Edit(UserDB)">
                <p>{{ UserDB.info.name }}</p>
                <md-icon md-svg-icon="delete" aria-label="delete" ng-click="Users.Delete(UserDB)" class="md-secondary md-hue-3"></md-icon>
            </md-list-item>
        </md-content>


    </section>
